<div class="panel panel-default" style="margin-bottom:40px;">
  <div class="panel-heading">
    <h2s style="font-size:20px;">メッセージ一覧</h2>
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

  <div class="form">
    <%= form_for(@message) do |f| %>
    
      <div class="from-group" style="margin-bottom:16px;">
        <label for="name">名前:</label>
        <div class="from__name">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
      </div>
      
      <div class="from-group" style="margin-bottom:32px;">
        <label for="detail">内容:</label>
        <div class="from__detail">
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
  
      <div class="from__button">
        <%= f.submit class: "btn btn-primary btn-block" %>
      </div>
      
    <% end %>
  </div>
